################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Misc. Assignments and Challenges/Step176_Assignment/DailyReport/.vs/DailyReport/FileContentIndex/5a0d62f2-63ab-41d7-a37b-974d14a3071a.vsidx
/Misc. Assignments and Challenges/Step198_Assignment/mathAndComparisonApp/.vs/mathAndComparisonApp/FileContentIndex/992df38b-bb41-4489-bb21-ab4a7077a45d.vsidx
/Anonymous_Income_Comparison_Program/AnonymousIncomeComparisonApp/.vs/AnonymousIncomeComparisonApp/FileContentIndex/a71f2335-d732-4109-8cee-4d5f9839bdb2.vsidx
/Insurrance_Approval_Program/InsurranceApprovalApp/.vs/InsurranceApprovalApp/FileContentIndex/9e25e9f4-d899-41d6-b126-91dc76c41ba6.vsidx
/Shipping_Quote_Program/ShippingQuoteApp/.vs/ShippingQuoteApp/FileContentIndex/c34bbeab-3f64-450e-ab1f-535b7f327ef0.vsidx
/Misc. Assignments and Challenges/Step242_Assignment/DoWhileApp/.vs/DoWhileApp/FileContentIndex/4d23f6c2-6670-401f-aed4-59c67eef52c5.vsidx
/Misc. Assignments and Challenges/Step246_Assignment/StringFunctions/.vs/StringFunctions/FileContentIndex/5c9445ad-8cfb-418c-8f04-3ba3ffbec56b.vsidx
/Misc. Assignments and Challenges/Step255_Assignment/ListAndArrayApp/.vs/ListAndArrayApp/FileContentIndex/7c04ec7f-672b-4e88-8872-2d6ff6c22d01.vsidx
/Misc. Assignments and Challenges/Step269_Assignment/SixPartAssignmentApp/.vs/SixPartAssignmentApp/FileContentIndex/0a5eae25-05eb-426c-a089-9bce481cdab9.vsidx
/Misc. Assignments and Challenges/Step269_Assignment/SixPartAssignmentApp/.vs/SixPartAssignmentApp/FileContentIndex/47437277-530d-4929-ac6b-e60d73156239.vsidx
/Misc. Assignments and Challenges/Step276_Assignment/TryCatchApp/.vs/TryCatchApp/FileContentIndex/a4497682-a4ea-4fb1-abdc-0cb3c2017666.vsidx
/Misc. Assignments and Challenges/Step288_Assignment/CallingMethodsApp/.vs/CallingMethodsApp/FileContentIndex
/Misc. Assignments and Challenges/Step292_Assignment/MainMethodApp/.vs/MainMethodApp/FileContentIndex
/Misc. Assignments and Challenges/Step293_Assignment/OptionalInputMethodApp/.vs/OptionalInputMethodApp/FileContentIndex
/Misc. Assignments and Challenges/Step294_Assignment/VoidMethodApp/.vs/VoidMethodApp/FileContentIndex
/Misc. Assignments and Challenges/Step298_Assignment/VariousMethodsApp/.vs/VariousMethodsApp/FileContentIndex
/Misc. Assignments and Challenges/Step305_Assignment/InheritanceApp/.vs/InheritanceApp/FileContentIndex
/Misc. Assignments and Challenges/Step315_Assignment/AbstractClassApp/.vs/AbstractClassApp/FileContentIndex
