################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Misc. Assignments and Challenges/Step176_Assignment/DailyReport/.vs/DailyReport/FileContentIndex/5a0d62f2-63ab-41d7-a37b-974d14a3071a.vsidx
/Misc. Assignments and Challenges/Step198_Assignment/mathAndComparisonApp/.vs/mathAndComparisonApp/FileContentIndex/992df38b-bb41-4489-bb21-ab4a7077a45d.vsidx
