################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Misc. Assignments and Challenges/Step152_Assignment/.vs/Step152_Assignment/FileContentIndex/fd65da1c-4d99-4bf1-a1da-966e9f27e565.vsidx
